html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

canvas {
    position: absolute;
    display: block;
    cursor: move;
}

#hud-btn {
  position: absolute;
  z-index: 1000;
  bottom: 40px;
  right: 10px;
}

.modal-content {
  background: rgba(255, 255, 255, 0.3);
}
